<div class="jumbotron">
  <h1>1 = 1</h1>
  <p>Register now to join the most exclusive shopping club ever</p>
  <p><%= link_to "Log In", new_user_session_path %></p>
  <p><%= link_to "Sign Up", new_user_registration_path %></p>
  <%= render "devise/sessions/new" %>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>

</div>
