<footer class="footer">
  <div class="container">
    <div class="jumbotron">
    <h2>Your cart</h2>
    <% Cart.all.each do |cart| %>
    <% if cart.user_id == current_user.id %>
      <%= cart.id %>
      <%= cart.selected_products %>
    <% end %>
    <% end %>
    </div>  
  </div>
</footer>
