<footer class="footer">
  <div class="container">
    <p>Your cart</p>
    <% Cart.all.each do |cart| %>
    <% if cart.user_id == current_user.id %>
      <%= cart.id %>

      <%= cart.selected_products %>
    <% end %>
    <% end %>
  </div>
</footer>
