<div class="container">
  <h1>Products</h1>
  <% @products.each do |p| %>
     <%= link_to p.name.capitalize, product_path(p.id) %>
    <%= link_to product_path(p.id) do %>
       <%= image_tag p.image %>
    <% end %>
  <% end %>
</div>
