<h1><%= @product.name %></h1>

<p>Price: <%= @product.price %> | Description: <%= @product.description %> </p>

<hr>
<%= link_to "[Delete]", product_path(@product.id), method: :delete, data: { confirm: "Are you sure?" } %>
